<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Stimulator</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
            border-collapse: collapse;

    }

    th {
    text-align: left;
    }

    table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}
</style>
<body>
    <table id="t01" style="width:100%">
        <tr>
            <th>Id</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Action</th>
        </tr>
    </table>
    <button id="create-new-drone">Create a new drone</button>
</body>
<script>

    var id = 0;
    var activeDrones = {};
    var activeDroneTimers = {};

    // LONGITUDE 110 to  150
    function generateRandomLong() {
        var num = (Math.random()*(150 - 110) + 110).toFixed(3);
        return num;
    }
    // LATITUDE -18 to -31
    function generateRandomLat() {
        var num = (Math.random()*(31 - 18) + 18).toFixed(3);
        return num * -1;
    }

    // Random Bearing from 0 t0 359
    function generateRandomBearing() {
        var num = (Math.random()*(359)).toFixed(3);
        return num;
    }

    /**
  * Returns the destination point from a given point, having travelled the given distance
  * on the given initial bearing.
  *
  * @param   {number} lat - initial latitude in decimal degrees (eg. 50.123)
  * @param   {number} lon - initial longitude in decimal degrees (e.g. -4.321)
  * @param   {number} distance - Distance travelled (metres).
  * @param   {number} bearing - Initial bearing (in degrees from north).
  * @returns {array} destination point as [latitude,longitude] (e.g. [50.123, -4.321])
  *
  * @example
  *     var p = destinationPoint(51.4778, -0.0015, 7794, 300.7); // 51.5135°N, 000.0983°W
  */
  function destinationPoint(lat, lon, distance, bearing) {
     var radius = 6371e3; // (Mean) radius of earth

     var toRadians = function(v) { return v * Math.PI / 180; };
     var toDegrees = function(v) { return v * 180 / Math.PI; };

     // sinφ2 = sinφ1·cosδ + cosφ1·sinδ·cosθ
     // tanΔλ = sinθ·sinδ·cosφ1 / cosδ−sinφ1·sinφ2
     // see mathforum.org/library/drmath/view/52049.html for derivation

     var δ = Number(distance) / radius; // angular distance in radians
     var θ = toRadians(Number(bearing));

     var φ1 = toRadians(Number(lat));
     var λ1 = toRadians(Number(lon));

     var sinφ1 = Math.sin(φ1), cosφ1 = Math.cos(φ1);
     var sinδ = Math.sin(δ), cosδ = Math.cos(δ);
     var sinθ = Math.sin(θ), cosθ = Math.cos(θ);

     var sinφ2 = sinφ1*cosδ + cosφ1*sinδ*cosθ;
     var φ2 = Math.asin(sinφ2);
     var y = sinθ * sinδ * cosφ1;
     var x = cosδ - sinφ1 * sinφ2;
     var λ2 = λ1 + Math.atan2(y, x);

     return [toDegrees(φ2), (toDegrees(λ2)+540)%360-180]; // normalise to −180..+180°
  }


    var droneSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/drones/stimulator/');

    function Drone(id, lat, long) {
        this.id = id;
        this.lat = lat;
        this.long = long;
        this.speed = 10 //speed in m/s
        this.bearing = generateRandomBearing()
        this.drone_location = function() {
            return this.id + " : " + this.lat + ", " + this.long;
        };
    }


    droneSocket.onclose = function(e) {
        console.error('Drones socket closed unexpectedly');
    };

    document.querySelector('#create-new-drone').onclick = function(e) {
        var newDrone = new Drone(id, generateRandomLat(), generateRandomLong());
        activeDrones[id] = newDrone
        activeDroneTimers[id] = setInterval(function() {
            var newCoordinates = destinationPoint(newDrone.lat, newDrone.long, newDrone.speed, newDrone.bearing);
            newDrone.lat = newCoordinates[0];
            newDrone.long = newCoordinates[1];
            droneSocket.send(JSON.stringify({
                'message': newDrone.id + " : " + newDrone.lat + ", " + newDrone.long
            }));
        }, 1000);
        var table = document.querySelector('#t01')
        var row = table.insertRow(id + 1)
        var idCell = row.insertCell(0)
        var latCell = row.insertCell(1)
        var lonCell = row.insertCell(2)
        var actionCell = row.insertCell(3)

        idCell.innerHTML = newDrone.id
        latCell.innerHTML = newDrone.lat
        lonCell.innerHTML = newDrone.long

        var actionButton = document.createElement("BUTTON");
        var t = document.createTextNode("Pause");
        actionButton.setAttribute('id', newDrone.id)
        actionButton.appendChild(t);
        actionButton.addEventListener("click", function(e) {
            var currentId = parseInt(e.target.id);

            if (!activeDroneTimers[currentId]) {
                activeDroneTimers[currentId] = setInterval(function() {
                                                var currentDrone = activeDrones[currentId];
                                                var newCoordinates = destinationPoint(currentDrone.lat, currentDrone.long, currentDrone.speed, currentDrone.bearing);
                                                currentDrone.lat = newCoordinates[0];
                                                currentDrone.long = newCoordinates[1];
                                                droneSocket.send(JSON.stringify({
                                                    'message': currentId + " : " + currentDrone.lat + ", " + currentDrone.long
                                                }));
                                            }, 1000);
                this.textContent = "Pause";
            } else {
                clearInterval(activeDroneTimers[currentId])
                activeDroneTimers[currentId] = null
                this.textContent = "Play";
            }
        })
        actionCell.appendChild(actionButton);

        id++;
    };


</script>
</html>
